<br/>
<br/>
<h2>Details of waterproofing estimates</h2>
<% c=0; %>
<% c++; %>
<div class = "content">
<%= waterproofingEstimates.published %></div>
<%= waterproofingEstimates.title %></div>
<% include ..\..\views\estimateparts\est-about %>
Square footage : <% include ..\..\views\estimateparts\est-footage %> sqft<br/>
Flooring : <% include ..\..\views\estimateparts\est-flooring %><br/>
Aggregate : <% include ..\..\views\estimateparts\est-aggregate %> <br/>
Labour Cost : <% include ..\..\views\estimateparts\est-labor %> <br/>
Mileage : <% include ..\..\views\estimateparts\est-mileage %> <br/>
Misc : <% include ..\..\views\estimateparts\est-misc %><br/>
<% include ..\..\views\estimateparts\est-result %>
<%
    var footage=5000, flooring=500,  aggregate = 1500, labour_cost = 2000, mileage = 400, misc = 200, job_cost = 3.50, profit=100 , bid=7.00
    var total_cost = flooring+aggregate+labour_cost+mileage+misc;
    var total_unit_cost = total_cost/footage;
%>
<br>
</br>  
<form method="get" action="/waterproofingEstimate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form> 
</div>
<!-- This model is managed by Team 4-03
Sai Venkat Poorna Chandu Bhogireddy
Santosh Ravi Teja Goteti -->