<h1>WaterProofing Materials(Team 04-14)</h1><br>
<h2><u>Team Members</u></h2>
<ul>
<li>Sresth Malpani</li>
<li>Saikrishna Mudduluru</li>
<li>Govindu Madanamohan Reddy</li>
</ul>
<h2><u>Team Responsibilities</u></h2>
<li>Three of us together developed requirement(R14) which is WaterProofing Materials.</li>
<li>We took WaterProofing Primers as reference and developed WaterProofing Basecoats and Topcoats.</li>
<br/>
<br/>


<!-- This model is designed by team 4-14
Saikrishna Mudduluru
Sresth Malpani
Govindu Madanamohan -->