<h1>Square Footage(Team 04-04)</h1><br>
<h2><u>Team Members</u></h2>
<ul>
<li>Sivareddy Mekapothula</li>
<li>Amarishwer Edam</li>
<li>Vikas Bavikadi</li>
</ul>
<h2><u>Team Responsibilities</u></h2>
<li>Three of us together developed requirement(R04) which is square footage.</li>
<li>We took length and breadth as input parametres and calculated the square footage and also total square footage</li>
<br/>
<br/>