<br/>
<br/>
<h2>confirm deletion of roofing estimates</h2>

<% c=0; %>
<% c++; %>
<div class="content">

<%= roofingEstimates.published %></div>
<%= roofingEstimates.title %></div>
<% include ..\..\views\estimateparts\est-about %>
Square footage : <% include ..\..\views\estimateparts\est-footage %> sqft<br/>
Flooring : <% include ..\..\views\estimateparts\est-flooring %><br/>
Aggregate : <% include ..\..\views\estimateparts\est-aggregate %> <br/>
Labour Cost : <% include ..\..\views\estimateparts\est-labor %> <br/>
Mileage : <% include ..\..\views\estimateparts\est-mileage %> <br/>
Misc : <% include ..\..\views\estimateparts\est-misc %><br/>
<% include ..\..\views\estimateparts\est-result %>
<br/>
<form method="get" action="/roofingEstimates">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/roofingEstimates/delete/<%= roofingEstimate._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
</div>
<!--This view is managed by team R-2 -->
<!--Adam Pool-->
<!--Robert Carstensen-->