<br/>
<br/>
<br/>
<h1>Roofing Estimates(Team 02, Section 04) </h1>
<ol>
<li>Adam Pool</li>
<li>Robert Carstensen</li>
</ol>
<h2>Team Responsibilities<h2>
<p>We both fullied our duties for the Roofing Estimates page.</p>
<br/>
<br/>