<br/>
<br/>
<br/>
<h1>Section:04 Team R05 </h1>
<h2>Estimate Part Flooring</h2>
<h3>Team Members</h3>

- <a href="http://localhost:8081/about/t5/a">Sainath Gulla</a> </br> </br>
- <a href="http://localhost:8081/about/t5/b">Manikanteswara Rao</a> </br> </br>
- <a href="http://localhost:8081/about/t5/c">Chaitanya Kiran Moturu</a> </br> </br>

<p> In estimate part flooring we are calculating flooring costs based on the material type selected.
<br/>
    We will perform CRUD operations like create new entry, delete, edit and details based on the id selected.
</p>


<br/>
<br/>