<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala-->

<br/>
<br/>
<h2>Edit <%= title %></h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartMisc._id %>
</p>
<p>
	<%=  estimatePartMisc.entry.description %>
</p>
<p>
	<%=  estimatePartMisc.entry.cost %> 
</p>

<br/>
<form method="get" action="/waterproofingPrimer">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>