<br/>
<br/>
<br/>
<h1>Rakesh Reddy Pakala</h1>
<h2>Software Engineer </h2>
<h4> Contact: S528160@mail.nwmissouri.edu</h4>

<br/>
<br/>

<!-- This view is managed by team 4-12 -->
<!--  Harsha Vardhan Reddy Mallipatllola-->
<!-- Rakesh Reddy Pakala  -->